/* ----------------------------------------Code Institute Milestone-2 - Evert Rot*/

/* Classes and id's that start with 'er-' are my own */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
/* ----------------------------------------Main document */

html, body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 530;
}

body {
    font-size: 0.9em;
}

main {
    background-image: url('../images/background.jpg');
    background-attachment: scroll;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

h2 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 2.5em;
    font-weight: 900;
}

h3 {
    font-size: 1.3em;
    text-align: center;
    padding: 4px;
    cursor: cell!important;
}

h4 {
    font-size: 1.2em;
    ;
}

label {
    margin: 0;
    padding: 0;
}

.er-header-main button, .er-more button {
    border: 1px;
    margin: 0;
    padding: 6px;
    line-height: 1em;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(87, 93, 65);
    box-shadow: 1px 1px .4em 3px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.er-header-main button:hover, .er-more button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.er-header-main button:active {
    outline: none;
    border: none;
}

header button:active {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px .4em 3px rgba(255, 255, 255, 0.75);
}

svg {
    width: 70px;
    height: 1em;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1920px;
}

.row {
    margin: 0px;
    padding: 0px;
}

.col-12 {
    padding: 0px;
}

/* ----------------------------------------Header */

.er-background {
    background-color: rgba(165, 176, 118);
}

.er-header {
    z-index: 23;
    position: fixed;
    width: 100%;
    top: 0vh;
    ;
}

.er-header-main {
    height: 7vh;
}

.er-header-icon {
    font-size: 1.2em;
}

.er-header-expand {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 7px 15px -3px rgba(87, 93, 65, 0.9);
}

.er-header-text {
    font-weight: 100;
    margin-left: 1em;
    float: left;
    color: rgba(0, 0, 0, 0.7);
}

.er-header-switch {
    margin-right: 1.4em;
    font-size: 1.2em;
    float: right;
    color: rgba(255, 255, 255, 0.75);
}

#er-header-table {
    width: 100%;
}

#er-header-table td {
    border: 1px;
    text-align: center;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.er-title {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.7);
}

.er-header-collapse {
    position: absolute;
    right: 0;
    width: 25vw;
    max-height: 0;
    border-bottom-left-radius: 1em;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    box-shadow: -10px 10px 15px -3px rgba(87, 93, 65, 0.9);
}

.er-dropdown {
    overflow: hidden;
    padding: 1em 0.5em 1em 0.5em;
    font-size: 0.7em;
}

.er-dropdown div {
    margin-bottom: 1.5em;
}

.er-menu-search {
    padding-right: 0.3em;
    width: 100%;
    text-align: right;
    font-size: 3em;
}

#er-cuisine {
    width: 100%;
}

.er-radius-slider {
    width: 100%;
}

/* ----------------------------------------Footer Searchbar */

.er-footer {
    padding-left: 2vw;
    padding-right: 2vw;
    z-index: 23;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -7px 15px -3px rgba(87, 93, 65, 0.9);
}

.er-footer form {
    width: 100vw;
}

.er-footer input {
    vertical-align: text-bottom;
    width: 80vw;
}

.er-footer button {
    text-align: center;
}

.er-location-search button {
    font-size: 1em;
    line-height: 1em;
}

.er-dropdown button {
    font-size: 1em;
    line-height: 1em;
}

.er-footer button {
    font-size: 3.5em;
    line-height: 1.2em;
}

.er-dropdown button, .er-footer button, #er-front-section button {
    background-color: unset;
    overflow: hidden;
    border: none;
    color: rgba(87, 93, 65);
    transition: color .2s;
}

.er-header button:hover, .er-footer button:hover, #er-front-section button:hover {
    color: rgba(87, 93, 65, 0.4);
    transition: color 1s ease-in-out;
}

.er-header button:active, .er-footer button:active, #er-front-section button:active {
    color: rgba(163, 0, 0, 0.7);
    transition: color .4s;
    text-decoration: none;
    box-shadow: 0px 0px 18px 12px rgba(165, 176, 118);
}

/* ----------------------------------------Sections */

.er-content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.8em;
    overflow: hidden;
    transition: max-height 0s;
    background-image: url('../images/background.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: scroll;
}

.er-content-inner {
    padding-top: 13vh;
    width: 100%;
    padding-bottom: 15vh;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
}

#er-front-section {}

#er-list-section {}

#er-details-section {
    background-size: cover;
    background-attachment: fixed;
}

#er-error-section {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    text-align: center;
}

#er-map-section {}

#er-direction-section {}

#map, #direction-map {
    height: 100vh;
    width: 100%;
}

#er-contact-section {}

/* ----------------------------------------Sections */

.er-more {
    position: fixed;
    top: 86vh;
    right: 5vw;
}

/* ---------------------------------------- Front Section */

.er-front-text {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    ;
}

#er-location-front {
    text-align: center;
    font-size: 10em;
    color: rgba(87, 93, 65);
}

/* ---------------------------------------- Result list Section */

.er-item-list {
    width: 100%;
    border: 1px;
}

.er-list-table {
    table-layout: fixed;
    margin-top: 0.5em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.65);
}

.er-list-table {
    border: 0.02px solid rgba(87, 93, 65, 0.8);
    ;
}

.er-list-icon {
    font-size: 2em;
}

.er-details-icon {
    margin: 1em 0.5em 1em 0.5em;
    font-size: 2.5em;
}

/* ----------------------------------------Item-list-cells */

.er-list-name {
    cursor: pointer!important;
}

.er-cell-image {
    overflow: hidden;
    width: 20vw;
    border-radius: 20vw;
}

.er-cell-image img {
    width: 100%;
    height: 20vw;
}

.er-cell-name {
    width: 45vw;
}

.er-cell-topname {
    width: 50%;
    text-align: center;
}

.er-table-top {
    font-size: .9em;
    font-weight: 100;
}

.er-cell-open {
    font-size: .9em;
    text-align: center;
    width: 10vw;
    background-color: rgba(255, 255, 255, 0.9);
}

.er-open {
    color: rgba(3, 132, 31, 0.8);
}

.er-closed {
    color: rgba(183, 88, 88, 1)
}

.er-rating-container {
    overflow: hidden;
    padding: 0;
}

.er-rating-container img {
    width: 50px;
}

.er-cell-rating {
    width: 15vw;
    background-color: rgba(165, 176, 118, 0.4);
}

.er-cell-price {
    text-align: center;
    width: 10%;
}

/* ----------------------------------------Item-list-collapse */

.er-list-collapse {
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(87, 93, 65, 0.5);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.er-list-collapse button {
    color: black;
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
    padding: 6px;
    line-height: 1em;
    overflow: hidden;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.5);
}

.er-details-collapse {
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgba(87, 93, 65, 0.5);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.er-collapse-details {
    text-align: center;
    width: 20%;
}

.er-collapse-image {
    width: 80%;
}

.er-collapse-image img {
    width: 100%;
}

/* ----------------------------------------Details section */

.er-details-photos {
    width: 100vw;
}

.er-details-photos img {
    width: 100%;
}

.er-details-name {
    font-weight: 500;
    width: 100%;
}

.er-details-photo {
    overflow: hidden;
}

.er-reviews-button {
    font-size: 2.5em;
}

.er-photos-button {
    font-size: 2.5em;
}

.er-details-photo img {
    width: 100%;
}

.er-details-address {
    padding-left: 1.5em;
}

.er-cell-third {
    width: 35%;
}

.er-cell-2third {
    width: 65%;
}

.er-details-icons {
    font-size: 2em;
}

.er-details-icons button {
    margin: 1em;
}

.active {
    background-color: rgba(165, 176, 118, 0.50)!important;
}

/* ----------------------------------------Error section */