/* ----------------------------------------Code Institute Milestone-2 - Evert Rot*/

/* Classes and id's that start with 'er-' are my own */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
/* ----------------------------------------Main document */

html, body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

body {
    font-size: 0.9em;
}

main {
    background-color: rgba(165, 176, 118);
    background-attachment: scroll;
}

p {
    margin-bottom: 0.4em;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

h2 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 2.5em;
    font-weight: 900;
}

h3 {
    font-size: 1.3em;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

h4 {
    padding-left: 0.2em;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h5 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    font-weight: 900;
}

label {
    margin: 0;
    padding: 0;
}

input:focus, button:focus {
    outline: 0;
}

input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input[type=text], textarea {
    color: rgba(87, 93, 65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2em;
    border-radius: 0.6em;
    background-color: rgba(255, 255, 255, 0.6)!important;
    border-color: rgba(87, 93, 65, 0.4);
    -webkit-box-shadow: 7px 7px 2px -1px rgba(87, 93, 65, 0.3);
    box-shadow: 7px 7px 2px -1px rgba(87, 93, 65, 0.3);
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* ----------------------------------------Buttons */

.er-green-button button {
    border: 1px;
    margin: 0;
    padding: 6px;
    line-height: 1em;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(87, 93, 65);
    -webkit-box-shadow: 1px 1px .4em 3px rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px .4em 3px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.er-green-button button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(87, 93, 65, 0.4);
}

.er-green-button button:active {
    color: rgba(87, 93, 65, 0.9);
    text-decoration: none;
}

.er-geo-button button {
    background-color: unset;
    border: none;
    color: rgba(87, 93, 65);
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.er-geo-button button:hover {
    cursor: pointer;
    color: rgba(87, 93, 65, 0.4);
    -webkit-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
}

.er-geo-button button:active {
    color: rgba(163, 0, 0, 0.7);
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    text-decoration: none;
}

.er-list-collapse button {
    color: rgba(87, 93, 65);
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
    padding: 6px;
    line-height: 1em;
    overflow: hidden;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.5);
}

.er-details-icons button {
    display: block;
    float: left;
    margin: 0.5em;
    color: rgba(87, 93, 65);
    background-color: white;
    border-color: rgba(0, 0, 0, 0.5);
}

/* ----------------------------------------Header */

.er-header {
    padding-top: 0.6em;
    z-index: 23;
    position: fixed;
    width: 100%;
    top: 0vh;
    -webkit-box-shadow: 0px 7px 15px -3px rgba(87, 93, 65, 0.9);
    box-shadow: 0px 7px 15px -3px rgba(87, 93, 65, 0.9);
}

.er-header-icon {
    font-size: 1.2em;
}

.er-header-expand {
    width: 100%;
    overflow: hidden;
}

.er-header-expand:hover {
    cursor: pointer;
}

.er-header-text {
    font-weight: 100;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-left: 1em;
    float: left;
    color: rgba(255, 255, 255, 0.9);
}

.er-header-switch {
    margin-right: 1.4em;
    font-size: 1.2em;
    float: right;
    color: rgba(255, 255, 255, 0.75);
}

#er-header-table {
    width: 100%;
}

#er-header-table td {
    border: 1px;
    text-align: center;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#er-title {
    font-family: 'Indie Flower', cursive;
    font-size: 1.7em;
    color: rgba(0, 0, 0, 0.7);
}

#er-title:hover {
    cursor: pointer;
}

.er-header-settings {
    position: absolute;
    right: 0;
    overflow: hidden;
    padding: 2em 1em 1em 1em;
    font-size: 0.8em;
    border-bottom-left-radius: 1em;
    -webkit-box-shadow: -10px 10px 15px -3px rgba(87, 93, 65, 0.9);
    box-shadow: -10px 10px 15px -3px rgba(87, 93, 65, 0.9);
}

.er-header-settings div {
    margin-bottom: 1.2em;
}

#er-about-switch {
    cursor: pointer;
}

.er-header-settings p {
    text-align: right;
}

.er-menu-search {
    font-size: 3em;
}

.er-menu-screen {
    font-size: 1.4em;
}

#er-cuisine {
    width: 100%;
}

/* ----------------------------------------Footer Searchbar */

.er-footer {
    z-index: 23;
    position: fixed;
    bottom: 0;
    -webkit-box-shadow: 0px -7px 15px -3px rgba(87, 93, 65, 0.9);
    box-shadow: 0px -7px 15px -3px rgba(87, 93, 65, 0.9);
}

.er-footer form {
    width: 100vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.er-footer input {
    vertical-align: center;
    height: 3em;
    width: 65vw;
}

.er-footer button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5em;
    line-height: 1.2em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 10vw;
}

.er-footer-button {
    text-align: center;
    float: right;
    width: 30vw;
}

.er-search-bar {
    padding-top: 1vh;
    width: 60vw;
    float: left;
}

.pac-container {
    margin-top: -230px;
    color: rgba(87, 93, 65);
    background-color: rgba(165, 176, 118);
    border-color: rgba(87, 93, 65, 0.4);
    border-radius: 0.6em;
    -webkit-box-shadow: 7px 7px 2px -1px rgba(87, 93, 65, 0.3);
    box-shadow: 7px 7px 2px -1px rgba(87, 93, 65, 0.3);
}

.pac-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    color: rgba(87, 93, 65);
}

.pac-item-query {
    font-size: 0.8em;
    color: rgba(87, 93, 65);
}

.pac-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* ----------------------------------------Sections */

.er-background {
    background-color: rgba(165, 176, 118);
}

.er-content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.8em;
    overflow: hidden;
    background-image: url('../images/background.jpg');
    background-attachment: scroll;
}

.er-content-inner {
    padding-top: 13vh;
    width: 100%;
    padding-bottom: 15vh;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
}

/* ----------------------------------------Map Section */

#map, #direction-map {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.er-infowindow-details {
    width: 120px;
    padding-left: 13px;
    padding-right: 7px;
}

.er-infowindow-details img {
    width: 100px;
    margin-bottom: 1em;
}

.er-infowindow-details {
    cursor: pointer;
}

.er-direction-buttons {
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-size: 2em;
    z-index: 1;
    position: absolute;
    right: 0.1em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(87, 93, 65);
    border-radius: 5px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
}

.er-direction-buttons:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(87, 93, 65, 0.4);
}

.er-direction-buttons:active {
    color: rgba(87, 93, 65, 0.9);
    text-decoration: none;
}

/* ---------------------------------------- Front Section */

.er-front-text {
    height: 5vh;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}

.er-more {
    position: fixed;
    top: 86vh;
    right: 5vw;
}

#er-location-front {
    height: 25vh;
    text-align: center;
    font-size: 10em;
    color: rgba(87, 93, 65);
}

/* ---------------------------------------- Search results Section */

#er-results-section {
    width: 100%;
    overflow: scroll;
}

.er-search-argument {
    font-family: "Verdana";
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1em;
    color: rgba(87, 93, 65);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.65);
}

.er-address {
    font-size: 0.9em;
    color: rgba(87, 93, 65);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-right: 1em;
}

.er-distance {
    font-size: 0.95em;
    margin-left: 1em;
    margin-bottom: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.active {
    background-color: rgba(165, 176, 118, 0.50)!important;
}

.er-list-table {
    table-layout: fixed;
    margin-top: 0.5em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.65);
    border: 0.02px solid rgba(87, 93, 65, 0.8);
}

.er-list-icon {
    font-size: 2em;
}

.er-details-icon {
    margin: 1em 0.5em 1em 0.5em;
    font-size: 2.5em;
}

/* ---------------------------------------- Results list cells */

.er-list-name {
    cursor: pointer!important;
}

.er-cell-image {
    width: 20%;
}

.er-round-image {
    overflow: hidden;
    width: 60px;
    border-radius: 75px;
}

.er-round-image img {
    width: 60px;
    height: 60px;
}

.er-cell-name {
    width: 50%;
}

.er-cell-open {
    font-size: .9em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.er-open {
    color: rgba(3, 132, 31, 0.8);
}

.er-closed {
    color: rgba(183, 88, 88, 1)
}

.er-clock {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.2);
}

.er-rating-list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 60px;
    height: 11px;
    background-image: url('../images/rating-grey.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.er-price-list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 60px;
    height: 11px;
    background-image: url('../images/price-grey.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.er-rating-container {
    height: 100%;
    overflow: hidden;
    background-image: url('../images/rating-orange.png');
    background-size: 60px, 11px;
    background-repeat: no-repeat;
}

.er-price-container {
    height: 100%;
    overflow: hidden;
    background-image: url('../images/price-yellow.png');
    background-size: 60px, 11px;
    background-repeat: no-repeat;
}

.er-review-details {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 100px;
    height: 18px;
    background-image: url('../images/rating-grey.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.er-reviewdetails-container {
    height: 100%;
    overflow: hidden;
    background-image: url('../images/rating-orange.png');
    background-size: 100px, 18px;
    background-repeat: no-repeat;
}

.er-cell-rating {
    color: rgba(87, 93, 65);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
    padding: 0.3em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 20%;
    background-color: rgba(165, 176, 118, 0.4);
}

/* ----------------------------------------Results list collapse */

.er-list-collapse {
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(87, 93, 65, 0.5);
}

.er-collapse-details {
    padding-right: 0.5em;
    padding-left: 1em;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0.65);
    width: 35%;
}

.er-collapse-image {
    width: 65%;
}

.er-collapse-image img {
    width: 100%;
}

/* ----------------------------------------Details section */

#er-details-section {
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
}

#er-details-section td {
    padding: 1em;
}

.er-details-table {
    table-layout: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.65);
    border: 0.02px solid rgba(87, 93, 65, 0.8);
}

.er-reviews-mainwrap button {
    font-size: 2em;
}

.er-details-title:hover {
    cursor: pointer;
}

.er-details-photos {
    padding: 1em;
    width: 100%;
}

.er-details-photos img {
    width: 100%;
}

.er-details-photo {
    border-radius: 8vw;
    overflow: hidden;
    padding: 2vw;
}

.er-reviews-table {
    table-layout: fixed;
    width: 100%;
    background-color: rgba(165, 176, 118, 0.2);
}

.er-reviews-name {
    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'indie flower';
}

.er-details-opening {
    padding-top: 2em;
    text-align: center;
    font-size: 1em;
}

.er-reviews-mainwrap {
    padding-top: 1em;
}

.er-reviews-wrapper {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 2em;
    border-radius: 30px;
    overflow: hidden;
}

.er-review-text {
    font-size: 0.9em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-radius: 15px;
    padding: 0.5em;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    background-color: rgba(255, 255, 255, 0.9);
}

.er-read-more {
    text-align: right;
    font-family: 'indie flower';
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0;
}

.er-reviews-button {
    font-size: 2.5em;
}

.er-photos-button {
    font-size: 2.5em;
}

.er-details-photo img {
    width: 100%;
}

.er-details-address {
    padding-left: 1.5em;
}

.er-cell-third-left {
    text-align: left;
    width: 35%;
    padding-left: 1em;
}

.er-cell-third {
    text-align: center;
    width: 35%;
}

.er-cell-2third-left {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    width: 65%;
}

.er-cell-third-right {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 35%;
}

.er-cell-2third-right {
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
    width: 65%;
}

.er-review-photo img {
    margin-bottom: 2em;
    width: 65px;
}

/* ----------------------------------------About section */

.er-about-text {
    padding: 1em;
    overflow: hidden;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: 2em;
    background-color: rgba(165, 176, 118, 0.7);
    -webkit-box-shadow: 7px 7px 2px -1px rgba(87, 93, 65, 0.3);
    box-shadow: 7px 7px 2px -1px rgba(87, 93, 65, 0.3);
}

.er-about-text a, a:hover, a:active {
    text-decoration: none;
    color: black;
}

.er-creative {
    margin-top: 1em;
    font-size: 0.9em;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-style: italic;
}

.er-contact-form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1.5em auto 1.5em auto;
    width: 80%;
}

.er-contact-form input, .er-contact-form textarea, .er-contact-form button {
    width: 100%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.er-contact-form button {
    background-color: rgba(165, 176, 118);
    -webkit-box-shadow: 7px 7px 2px -1px rgba(87, 93, 65, 0.3);
    box-shadow: 7px 7px 2px -1px rgba(87, 93, 65, 0.3);
}

#er-contact-response {
    margin-top: 1em;
    text-align: center;
    font-weight: 900;
}

/* ----------------------------------------Wait screen */

.er-wait {
    text-align: center;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2020;
}

.er-wait img {
    width: 33%;
}

/* ----------------------------------------Error section */

#er-error-section {
    font-family: 'Indie Flower', cursive;
    font-size: 1.7em;
    text-align: center;
}

#er-error-section button {
    font-size: 3em;
}

#er-error {
    width: 100%;
    position: absolute;
    top: 50vh;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ----------------------------------------Responsive breakpoints */

/* --------------------------576 - SM */

@media(min-width: 576px) {
    .er-round-image {
        width: 90px;
        border-radius: 90px;
    }
    .er-round-image img {
        width: 90px;
        height: 90px;
    }
    .er-rating-list {
        width: 90px;
        height: 16px;
    }
    .er-price-list {
        width: 90px;
        height: 16px;
    }
    .er-rating-container {
        background-size: 90px, 16px;
    }
    .er-price-container {
        background-size: 90px, 16px;
    }
}

/* --------------------------768 - MD */

@media(min-width: 768px) {
    body {
        font-size: 1em;
    }
    #er-map-section, #er-direction-section {
        position: fixed;
        top: 0;
        right: 0;
    }
}

/* --------------------------768 - md (portrait-tablet) */

@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: portrait) {
    body {
        font-size: 1em;
    }
    #er-map-section, #er-direction-section {
        position: fixed;
        top: 0;
        right: 0;
    }
}

/* --------------------------992 - LG */

@media(min-width: 992px) {
    body {
        font-size: 1.1em;
    }
    .er-wait img {
        width: 20%;
    }
}

/* --------------------------1200 - XL */

@media(min-width: 1200px) {
    #er-results-section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
    }
    #er-details-section, #er-error-section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 25vw;
        overflow-y: scroll;
    }
    #er-about-section, #er-error-section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 25vw;
        overflow-y: scroll;
    }
    .er-wait img {
        width: 10%;
    }
}

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */