/* ----------------------------------------Code Institute Milestone-2 - Evert Rot*/

/* Classes and id's that start with 'er-' are my own */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
/* ----------------------------------------Main document */

html, body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

body {
    font-size: 0.9em;
}

main {
    background-color: rgba(165, 176, 118);
    background-attachment: scroll;
}

p {
    margin-bottom: 0.3em;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

h2 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 2.5em;
    font-weight: 900;
}

h3 {
    font-size: 1.3em;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

h4 {
    padding-left: 0.2em;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h5 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    font-weight: 900;
}

label {
    margin: 0;
    padding: 0;
}

input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input[type=text] {
    color: rgba(87, 93, 65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2em;
    border-radius: 0.6em;
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(87, 93, 65, 0.4);
    -webkit-box-shadow: 7px 7px 2px -1px rgba(87, 93, 65, 0.3);
    box-shadow: 7px 7px 2px -1px rgba(87, 93, 65, 0.3);
}

button:focus {
    outline: 0;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1920px;
}

.row {
    margin: 0px;
    padding: 0px;
}

.col-12 {
    padding: 0px;
}

/* ----------------------------------------Header */

.er-header-main button, .er-more button {
    border: 1px;
    margin: 0;
    padding: 6px;
    line-height: 1em;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(87, 93, 65);
    -webkit-box-shadow: 1px 1px .4em 3px rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px .4em 3px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.er-header-main button:hover, .er-more button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.er-header button:hover, .er-footer button:hover, #er-front-section button:hover, #er-error-section button:hover {
    color: rgba(87, 93, 65, 0.4);
    -webkit-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
}

.er-header button:active, .er-footer button:active, #er-front-section button:active, #er-error-section button:active {
    color: rgba(163, 0, 0, 0.7);
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    text-decoration: none;
}

.er-background {
    background-color: rgba(165, 176, 118);
}

.er-header {
    padding-top: 0.6em;
    z-index: 23;
    position: fixed;
    width: 100%;
    top: 0vh;
    -webkit-box-shadow: 0px 7px 15px -3px rgba(87, 93, 65, 0.9);
    box-shadow: 0px 7px 15px -3px rgba(87, 93, 65, 0.9);
}

.er-header-icon {
    font-size: 1.2em;
}

.er-header-expand {
    width: 100%;
    overflow: hidden;
}

.er-header-expand:hover {
    cursor: pointer;
}

.er-header-text {
    font-weight: 100;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-left: 1em;
    float: left;
    color: rgba(255, 255, 255, 0.9);
}

.er-header-switch {
    margin-right: 1.4em;
    font-size: 1.2em;
    float: right;
    color: rgba(255, 255, 255, 0.75);
}

#er-header-table {
    width: 100%;
}

#er-header-table td {
    border: 1px;
    text-align: center;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.er-title {
    font-family: 'Indie Flower', cursive;
    font-size: 1.7em;
    color: rgba(0, 0, 0, 0.7);
}

.er-title a, .er-title a:hover, .er-title a:active {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.er-header-settings {
    position: absolute;
    right: 0;
    overflow: hidden;
    padding: 2em 1em 1em 1em;
    font-size: 0.8em;
    border-bottom-left-radius: 1em;
    -webkit-box-shadow: -10px 10px 15px -3px rgba(87, 93, 65, 0.9);
    box-shadow: -10px 10px 15px -3px rgba(87, 93, 65, 0.9);
}

.er-header-settings div {
    margin-bottom: 1.5em;
}

.er-header-settings p {
    text-align: right;
}

.er-menu-search {
    font-size: 3em;
}

#er-cuisine {
    width: 100%;
}

/* ----------------------------------------Footer Searchbar */

.er-footer {
    z-index: 23;
    position: fixed;
    bottom: 0;
    -webkit-box-shadow: 0px -7px 15px -3px rgba(87, 93, 65, 0.9);
    box-shadow: 0px -7px 15px -3px rgba(87, 93, 65, 0.9);
}

.er-footer form {
    width: 100vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.er-footer input {
    vertical-align: text-bottom;
    height: 3em;
    width: 80vw;
}

.er-footer button {
    width: 10vw;
}

.er-footer button {
    margin-left: 1vw;
    margin-right: auto;
    font-size: 3.5em;
    line-height: 1.2em;
}

.er-header-settings button, .er-footer button, #er-front-section button, #er-error-section button {
    background-color: unset;
    border: none;
    color: rgba(87, 93, 65);
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

/* ----------------------------------------Sections */

.er-content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.8em;
    overflow: hidden;
    background-image: url('../images/background.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: scroll;
}

.er-content-inner {
    padding-top: 13vh;
    width: 100%;
    padding-bottom: 15vh;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
}

/* ----------------------------------------Front Section */

/* ----------------------------------------Map Section */

#map, #direction-map {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.er-infowindow-details {
    width: 120px;
    padding-left: 13px;
    padding-right: 7px;
}

.er-infowindow-details img {
    width: 100px;
    margin-bottom: 1em;
}

.er-infowindow-details {
    cursor: pointer;
}

/* ---------------------------------------- Front Section */

.er-front-text {
    height: 6vh;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    ;
}

.er-more {
    position: fixed;
    top: 86vh;
    right: 5vw;
}

#er-location-front {
    height: 30vh;
    text-align: center;
    font-size: 10em;
    color: rgba(87, 93, 65);
}

/* ---------------------------------------- Search results Section */

#er-list-section {
    width: 100%;
    overflow: scroll;
}

.er-search-argument {
    font-family: "Verdana";
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1em;
    color: rgba(87, 93, 65);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.65);
}

.er-address {
    font-size: 1em;
    color: rgba(87, 93, 65);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-right: 1em;
}

.er-distance {
    font-size: 1.1em;
    margin-left: 1em;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.active {
    background-color: rgba(165, 176, 118, 0.50)!important;
}

.er-list-table {
    table-layout: fixed;
    margin-top: 0.5em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.65);
    border: 0.02px solid rgba(87, 93, 65, 0.8);
}

.er-list-icon {
    font-size: 2em;
}

.er-details-icon {
    margin: 1em 0.5em 1em 0.5em;
    font-size: 2.5em;
}

/* ---------------------------------------- Results list cells */

.er-list-name {
    cursor: pointer!important;
}

.er-cell-image {
    width: 20%;
}

.er-round-image {
    overflow: hidden;
    width: 60px;
    border-radius: 75px;
}

.er-round-image img {
    width: 60px;
    height: 60px;
}

.er-cell-name {
    width: 50%;
}

.er-cell-open {
    font-size: .9em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.er-open {
    color: rgba(3, 132, 31, 0.8);
}

.er-closed {
    color: rgba(183, 88, 88, 1)
}

.er-rating-list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 60px;
    height: 11px;
    background-image: url('../images/rating-grey.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.er-price-list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 60px;
    height: 11px;
    background-image: url('../images/price-grey.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.er-rating-container {
    height: 100%;
    overflow: hidden;
    background-image: url('../images/rating-orange.png');
    background-size: 60px, 11px;
    background-repeat: no-repeat;
}

.er-price-container {
    height: 100%;
    overflow: hidden;
    background-image: url('../images/price-yellow.png');
    background-size: 60px, 11px;
    background-repeat: no-repeat;
}

.er-review-details {
    margin-bottom: 1em;
    width: 100px;
    height: 18px;
    background-image: url('../images/rating-grey.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.er-reviewdetails-container {
    height: 100%;
    overflow: hidden;
    background-image: url('../images/rating-orange.png');
    background-size: 100px, 18px;
    background-repeat: no-repeat;
}

.er-cell-rating {
    color: rgba(87, 93, 65);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
    padding: 0.3em;
    align-items: center;
    width: 20%;
    background-color: rgba(165, 176, 118, 0.4);
}

/* ----------------------------------------Results list collapse */

.er-list-collapse {
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(87, 93, 65, 0.5);
}

.er-list-collapse button {
    color: rgba(87, 93, 65);
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
    padding: 6px;
    line-height: 1em;
    overflow: hidden;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.5);
}

.er-collapse-details {
    text-align: center;
    width: 35%;
}

.er-collapse-image {
    width: 65%;
}

.er-collapse-image img {
    width: 100%;
}

/* ----------------------------------------Details section */

#er-details-section {
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
}

#er-details-section td {
    padding: 1em;
}

.er-details-table {
    table-layout: fixed;
    width: 100%;
    border: 0.02px solid rgba(87, 93, 65, 0.8);
}

.er-details-title:hover {
    cursor: pointer;
}

.er-details-photos {
    padding: 1em;
    width: 100%;
}

.er-details-photos img {
    width: 100%;
}

.er-details-photo {
    border-radius: 8vw;
    overflow: hidden;
    padding: 2vw;
}

.er-reviews-table {
    table-layout: fixed;
    width: 100%;
    background-color: rgba(165, 176, 118, 0.2);
}

.er-reviews-name {
    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'indie flower';
}

.er-reviews-mainwrap {
    padding-top: 1em;
}

.er-reviews-wrapper {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 2em;
    border-radius: 30px;
    overflow: hidden;
}

.er-review-text {
    font-size: 0.9em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-radius: 15px;
    padding: 0.5em;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    background-color: rgba(255, 255, 255, 0.9);
}

.er-read-more {
    text-align: right;
    font-family: 'indie flower';
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0;
}

.er-reviews-button {
    font-size: 2.5em;
}

.er-photos-button {
    font-size: 2.5em;
}

.er-details-photo img {
    width: 100%;
}

.er-details-address {
    padding-left: 1.5em;
    background-color: rgba(255, 255, 255, 0.65);
}

.er-cell-third {
    width: 35%;
}

.er-review-photo img {
    margin-bottom: 2em;
    width: 65px;
}

.er-cell-2third {
    width: 65%;
}

.er-details-icons {
    text-align: right;
    padding-right: 1em;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.65);
}

.er-details-icons button {
    color: rgba(87, 93, 65);
}

/* ----------------------------------------Error section */

#er-error-section {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    text-align: center;
}

#er-error-section button {
    font-size: 3em;
}

#er-error {
    width: 100%;
    position: absolute;
    top: 50vh;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ----------------------------------------Responsive breakpoints */

/* --------------------------576 - SM */

@media(min-width: 576px) {
    .er-round-image {
        width: 90px;
        border-radius: 90px;
    }
    .er-round-image img {
        width: 90px;
        height: 90px;
    }
    .er-rating-list {
        width: 90px;
        height: 16px;
    }
    .er-price-list {
        width: 90px;
        height: 16px;
    }
    .er-rating-container {
        background-size: 90px, 16px;
    }
    .er-price-container {
        background-size: 90px, 16px;
    }
}

/* --------------------------768 - MD */

@media(min-width: 768px) {
    body {
        font-size: 1em;
    }
    #er-map-section, #er-direction-section {
        position: fixed;
        top: 0;
        right: 0;
    }
}

/* --------------------------768 - lg (portrait-tablet) */

@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: portrait) {
    body {
        font-size: 1em;
    }
    #er-map-section, #er-direction-section {
        position: fixed;
        top: 0;
        right: 0;
    }
}

/* --------------------------992 - LG */

@media(min-width: 992px) {
    body {
        font-size: 1.1em;
    }
}

/* --------------------------1200 - XL */

@media(min-width: 1200px) {
    #er-list-section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
    }
    #er-details-section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 33.3333vw;
        overflow-y: scroll;
    }
}